body{
    overflow-x: hidden;
    background-color: #F3F2F2;
}
.card2{
    width: 35%;
    height: 20%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.413);
    padding: 30px;
    margin: 10px;
    text-align: center;
    
    display: inline-block;
}
.card2 .card-image{
    max-width: 80%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 10px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgb(4, 91, 49);
}
.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 68, 68);
}

.student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid;
    width: 30%;
}
.well{
    width: 30%;
    background-color: rgb(77, 229, 97);
    color: white;
    padding: 10px;
}
.not{
    width: 30%;
    background-color: rgb(164, 1, 1);
    color: white;
}
.back-color{
   
    border-radius: 10px;
    height: 700px;
    background: rgb(178,230,253);
    background: linear-gradient(48deg, rgba(178,230,253,1) 0%, rgba(155,216,241,1) 58%, rgba(27,3,178,0.7625175070028012) 100%);}


#doctor{

        background: rgb(178,230,253);
    background: linear-gradient(48deg, rgba(178,230,253,1) 0%, rgba(155,216,241,1) 58%, rgba(27,3,178,0.7625175070028012) 100%);


}
    .contains{
    width: 100vw;
}
.emergency{
    width: 19vw;
}
.book{
    background-color: #B5FFA9;
    border-radius: 40px;
}
.all{
    border-radius: 20px;
    width: 98vw;
    height: 780px;
}
.rectangle{
    border-radius: 500px 500px 0px 0px;
}
.rectangle2{
    width: 500px;
    height: 360px;
    border-radius: 500px 500px 0px 0px;
}
.rectangle-department{
    border-radius: 0px 30px 30px 0px;
    height: 60px;
    width: 100%;
}
.contain-them{
    width: 100%;
   
}
.aside{
    width: 30vw;
}